<div
  class="productContainer flexbox"
  [ngStyle]="{
    border: '2px solid',
    'border-color':
      product.inStock > 10 ? '#1976d2' : product.inStock > 5 ? 'orange' : 'red',
    transition: 'all 0.3s ease',
    transform: product.isHovered ? 'scale(1.02)' : 'scale(1)'
  }"
  (mouseenter)="product.isHovered = true"
  (mouseleave)="product.isHovered = false"
>
  <img [src]="product.pImage" [alt]="product.name" />
  <div class="productDetails flexbox-column">
    <p>{{ product.name }}</p>
    <p>Price: {{ "$" + product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>
      Discounted Price:
      {{ getDiscountedPrice(product).toFixed(2) }}
    </p>
    <p>
      {{
        product.inStock > 0
          ? "Only " + product.inStock + " items left"
          : "Not in Stock"
      }}
    </p>
    <div class="product-buttons">
      <button [disabled]="!(product.inStock > 0)" class="buy-button">
        Buy Now
      </button>
      <button (click)="toggleDetails($event)" class="details-button">
        <span>Details</span>
        <svg viewBox="0 0 24 24" width="16" height="16">
          <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"></path>
        </svg>
      </button>
    </div>
    <div class="addToCart flexbox">
      <button (click)="decrementCart(product, $event)">-</button>
      <span>{{ product.cartCount }}</span>
      <button (click)="incrementCart(product, $event)">+</button>
    </div>
  </div>
</div>

<app-product-details
  [product]="product"
  [showDetails]="showDetails"
  (closeModal)="toggleDetails()"
></app-product-details>
